.DS_Store
*.sdf
*.vcxproj.user
*.VC.opendb
.vs

xcuserdata
*.xcworkspace
xcshareddata

WSATestCertificate.pfx*

UnityProject/*.csproj
UnityProject/*.sln
UnityProject/Library
UnityProject/Logs
UnityProject/Temp
UnityProject/UWP
UnityProject/Logs

PluginSource/build
PluginSource/projects/Android/libs/*
PluginSource/projects/Android/obj/*
/PluginSource/projects/VisualStudio2022/NativePlugin/x64/Debug
/PluginSource/projects/VisualStudio2022/x64/Debug
/PluginSource/projects/VisualStudio2022/NativePlugin/Debug
/PluginSource/projects/VisualStudio2022/Debug
